@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url(images/bg.jpg);
    background-position: center center;
    background-size: max(1500px, 100vw);
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;

}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    max-width: 60vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;

}

nav img {
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button {
    width: 114px;
    line-height: 1.25rem;
    position: relative;
    z-index: 10;
}

.btn2 {
    background-color: red;
    color: white;
    font-weight: bold;
}

.hero {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 100px);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}

.hero> :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400px;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-size: 20px;
    font-weight: 400px;
    text-align: center;
}

input {
    background-color: black;
}

.separation {
    height: 8px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 20;
}

.btn {
    padding: 3px 8px;
    font-weight: 400;
    background-color: rgba(248, 243, 243, 0.342);
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

.btn-red-sm {
    background-color: red;
    padding: 3px 23px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
    color: white;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

}

.main input {
    padding: 7px 101px 8px 14px;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    font-weight: 900;
    color: white;
    border: 2px solid rgba(246, 238, 238, 0.5);
}

.btn-red {
    background-color: red;
    color: white;
}

.first {
    display: flex;
    justify-content: center;
    margin: auto;
    /* max-width: 50vw; */
    color: white;
    background-color: black;
    justify-content: center;
    align-items: center;

}

.secimg {
    position: relative;
}

.secimg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secimg video {
    position: absolute;
    top: 104px;
    right: 0;
    width: 480px;

}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}

.first>div :nth-child(2) {
    font-size: 24px;

}

.first div span {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.faq {
    background-color: black;
    color: white;
    padding: 34px;
}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faqbox {
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;
    font-size: 24px;
    transition: all 1s ease-out;

}

.faqbox svg {
    filter: invert(1);
}

.faqbox:hover {
    background-color: #414141;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 60px;
}

@media screen and (max-width: 800px) {

    nav {
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secimg img {
        width: 305px;
    }

    .secimg video {
        top: 83px;
        width: 269px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item{
        align-items: center;
    }
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

@media screen and (max-width: 800px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: white;
        gap: 25px;
    }
}

footer a {
    font-size: 14px;
    color: white;
    text-decoration: none;

}

.questions {
    padding: 34px 0;
}


.footer-item {
    display: flex;
    flex-direction: column;
    gap: 14px;
}